﻿@using Microsoft.AspNet.Identity
@model IEnumerable<HappyChat.Web.Models.Chat>

@{
    ViewBag.Title = "All";
}

<h2>@User.Identity.GetUserName()'s chats</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@{Html.RenderPartial("_ChatList", Model);}