﻿@model IEnumerable<HappyChat.Web.Models.Invitation>

@{
    ViewBag.Title = "Pendign Invitations";
}

<h2>Pendign Invitations</h2>

<table class="table">
    <tr>
        <th>Owner</th>
        <th>Chat Name</th>
        <th>Participants</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Sender.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Chat.Name)
        </td>
        <td>@string.Join(", ", item.Chat.Invitations.Select(x => x.Receiver.UserName))</td>
        <td>
            @using (Html.BeginForm("Approve", "Invitation", FormMethod.Post))
            {
                @Html.Hidden("invitationId", item.Id)
                <input type="submit" value="Approve" />
            }

            @using (Html.BeginForm("Decline", "Invitation", FormMethod.Post))
            {
                @Html.Hidden("invitationId", item.Id)
                <input type="submit" value="Decline" />
            }
        </td>
    </tr>
}

</table>
