﻿@model IEnumerable<HappyChat.Web.Models.Chat>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            Owner
        </th>
        <th>
            Participants
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr onclick="window.location = '/Chat/ById?chatId=@item.Id';">
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Creator.UserName)
            </td>
            <td>
                @string.Join(", ", item.Invitations.Select(x => x.Receiver.UserName))
            </td>
        </tr>
    }

</table>