﻿<div>
    <h2>Search chat</h2>
    <input type="search" id="chat-search" class="glyphicon-search" />
    <button id="complete-search" class="btn btn-default">Search</button>

    <div id="result">

    </div>
</div>

<script>
    $(document).ready(function () {
        var resultArea = $("#result"),
            search = $("#chat-search");

        $("#complete-search").click(function () {
            $.get("/Chat/Search?chatName=" + search.val())
                .then(function (result) {
                    resultArea.html(result);
                    var notification = "Results for " + search.val() + " were found";
                    $.notify(notification, "success");
                },
                function () {
                    $.notify("An error has occur, please try again", "error");
                })
        })
    })
</script>