﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Happy Chat</h1>
    <p class="lead">Welcome to Happy Chat. We wish you happy chatting!</p>
</div>

@{Html.RenderPartial("_SearchChat");}